---
import Layout from "../layouts/Layout.astro";
import LoginVue from "../components/Login.vue";

const status = Astro.response.status;
if (status === 301) {
  console.log("Session ended");
}
---

<Layout title="Login">
  <div class="mx-auto max-w-7xl relative z-0 lg:flex gap-7">
    <h1>Astro <span class="text-gradient">Middleware authorizing user session</span></h1>
    <LoginVue client:only />
  </div>
</Layout>