---
import Layout from "../../layouts/Layout.astro"
import BlogList from "../../components/ListData.vue";
import Banner from "../../components/Banner.svelte";
import {get} from "./../api/methods";
import type { EndpointOutput } from "astro";
import Modal from "../../components/Modal.svelte";

const getBlogs = async () => {
  const res: Response | EndpointOutput = await get(Astro);
  if ((res as Response)?.status) {
    //do something
  }  
  return (res as Response)?.json();
};
const data = await getBlogs();
const currentPath = Astro.url.pathname;
---

<Layout title="Blogs">
    <div class="mx-auto max-w-7xl relative z-0 lg:flex gap-7">
        <BlogList class="lg:w-9/12" listData={data} currentPath={currentPath} />
        <Banner classes="hidden lg:block lg:w-3/12" client:scroll src="/samples/banner.jpg">
          <div class="border-4 border-dashed border-orange-600 mb-4 p-4" slot="additional-content">
            The named slot that disappears after 5 seconds after scrolling because of custom scroll directive triggers the script to execute
          </div>
        </Banner>
    </div>
    <Modal client:load>
      <p class="text-black">
        Congratulations
      </p>
    </Modal>
</Layout>