/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: white;
}

input {
  color: black !important;
}

.hidden-item {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show-item {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
@media (prefers-reduced-motion: no-preference) {
  .hidden {
    transition: all 1s;
  }
}

.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}